export(makeBasis.slearner, svm.slearner, predict.slearner, summary.slearner, load_mnist, show_digit)
import(LiblineaR,class,svd,Matrix,fortunes,irlba)
S3method("predict", "slearner")
S3method("summary", "slearner")
